.registerpage{
    width: 100%;
    height: 1117px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerpage .register-container{
    width: 450px;
    height: 604px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movix-logo>img{
    width: 74px;
    height: 74px;
}

.register-heading{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    font-family: 'Work Sans', sans-serif; 
    margin-top: 30px;
}

.register-text{
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin: 0px;
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.register-form input{
    width: 391px;
    height: 51px;
    margin-bottom: 24px;
    padding-left: 17px;
    border: 1px solid rgba(76, 78, 100, 0.22);
    border-radius: 8px;
    font-family: 'Work Sans', sans-serif;
}

.register-form button{
    background-color: #000;
    width: 391px;
    color: #fff;
    height: 51px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    box-shadow: 0px 4px 8px -4px rgba(76, 78, 100, 0.42);
    border-radius: 8px;
}